//Color pallet
$primiray: #434343;
$secondary: #7d7d7f;
$third: #47b2b2;
$poker: #7fffff;


body{
  font-family: 'Roboto Mono', monospace;
  background-color: $primiray;
}

.safe-container{
  padding: 20px 35px 30px;
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 0 3px 10px #000;
  background-color: $secondary;
  user-select: none;
}

.btn-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 410px;
}

.screen-bar{
  background-color: $third;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;

  &.active{
    background-color: $poker;
  }

}

.status-bar{
  color: $primiray;
}

.status-bar{
  text-align: left;
}

.message-bar{
  text-align: right;
  font-size: 40px;
  min-height: 58px;
  padding-top: 15px;
}

.btn{
  width: 120px;
  height: 120px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #282c34;
  box-shadow: 0 6px 6px #000;
  position: relative;
  background-color: #63636e;
  user-select: none;
  transition: 250ms ease-in;

  &:hover{
    border-color: #e2e2e2;
  }
  &:nth-child(3n + 3){
    margin-right: unset;
  }
  &.prevent{
    pointer-events: none;
  }
}



.btn-text{
  font-size: 48px;
  color: #f3f3f3;
}

.icon-placeholder{
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #282c34;
  font-size: 14px;
  font-weight: bold;
}